{% extends "layout.html" %}
{% block title %} Test {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block body %}
<div>
    <h2>Enter fire coordinates</h2>
    <form role="form" method="POST">
        <label for="longtitude">Longtitude:</label><br>
        <input type="text" name="longtitude" id="longtitude"><br>
        <label for="latitude">Latitude:</label><br>
        <input type="text" name="latitude" id="latitude"><br>
        <label for="radius">Radius:</label><br>
        <input type="text" name="radius" id="radius"><br>

        <input type="submit"/>
    </form>
</div>
    {% include "map2.html" %}
{% endblock %}