{% extends "layout.html" %}
{% block title %} Inventory {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block body %}
<h1 style="text-align:center;">Inventory</h1>

<div class="center">
    <!-- Search form -->
    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-175" type="text" placeholder="Search" aria-label="Search">
    </form>
    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add resourse</button>
    </form>
</div>

<div class="row">
    <div class="col">
        <div class="container-fluid">
            {% for item in inventory | reverse %}
            <div class="container mt-3">
                <div class="card card-body bg-light">
                    <div class="media-body">
                        <h3>{{item[1]}} <small><i> {{item[0]}}</i></small></h3>
                        <h5>Class: {{item[2]}}</h5>
                        <h5>Availability: {{item[3]}}</h5>
                        <h5>Location: {{item[4]}}</h5>
                    </div>
                    <row>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#AvailabilityModal">Change Availability</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#LocationModal">Change Location</button>
                    </row>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Add resourse</h2>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <form class="box" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <textarea class="form-control" rows="1" id="name" name="name"></textarea>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="availabilityselect">Availability:</label>

                                <select class="custom-select" name="availabilityselect" id="availabilityselect">
                                    <option selected>Select...</option>
                                    <option value="0">Unavailable</option>
                                    <option value="1">Available</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label for="classselect">Class:</label>

                                <select class="custom-select" name="classselect" id="classselect">
                                    <option selected>Select...</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                </select>
                            </div>
                        </div>

                        <label for="location">Location:</label>
                        <textarea class="form-control" rows="1" id="location" name="location"></textarea>

                        <label for="description">Description:</label>
                        <textarea class="form-control" rows="2" id="description" name="description"></textarea>
                        <!--<input type="text" id="comment" name="comment"/>-->
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Add</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- Availability Modal -->
<div class="modal fade" id="AvailabilityModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Change Availability</h2>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <form class="box" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <label for="newavaselect">Current Availability:</label>
                            <select class="custom-select" name="newavaselect" id="newavaselect">
                                <option selected>Select...</option>
                                <option value="0">Unavailable</option>
                                <option value="1">Available</option>
                            </select>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Location Modal -->
<div class="modal fade" id="LocationModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Change Location</h2>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <form class="box" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <label for="newlocation">New Location:</label>
                            <textarea class="form-control" rows="1" id="newlocation" name="newlocation"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}