<!DOCTYPE HTML>

<head>
  <title>SMOKEY BOY</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
    body {
      padding-top: 40px;
      padding-left: 40px;
    }

    .textarea {
      white-space: pre-wrap;
    }

    .center {
      margin: auto;
      width: 60%;
      padding: 10px;
    }
  </style>
</head>

<body>
  <header>{% block head %}{% endblock %}</header>
  {% block body %}{% endblock %}
</body>

</html>