{% extends "layout.html" %}
{% block title %} Main {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block body %}

<head>
    <style>
        body {
            background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/newscms/2021_30/3494481/210727-tamarack-fire-smoke-ew-240p.jpg');
        }
    </style>
</head>

<body>
    <div class="center">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="card" >
                    <div class="card-header">
                        <h2>Enter fire coordinates</h2>
                    </div>
                    <div class="card-body">
                        <form class="box" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="LngLat">Coordinates:</label>
                                <textarea class="form-control" rows="1" name="LngLat" id="LngLat"></textarea>
                                <label for="radius">Radius:</label>
                                <textarea class="form-control" rows="1" name="radius" id="radius"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <row>
                            <button type="button" class="btn btn-secondary" id="map_btn">See Map</button>
                            <button type="button" class="btn btn-secondary" id="inv_btn">Edit Inventory</button>
                            <button type="button" class="btn btn-secondary" id="plan_btn">Plan Demo</button>
                            <button type='submit' class="btn btn-success">Submit</button>
                        </row>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>            
        </div>
    </div>


</body>
<script>
    document.getElementById("map_btn").onclick = function () {
        location.href = "/map";
    };
    document.getElementById("inv_btn").onclick = function () {
        location.href = "/inventory";
    };
    document.getElementById("plan_btn").onclick = function () {
        location.href = "/plan";
    };
</script>

{% endblock %}