{% extends "layout.html" %}
{% block title %} Main {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block body %}

<head>
    <style>
        body {
            background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/newscms/2021_30/3494481/210727-tamarack-fire-smoke-ew-240p.jpg');
        }
    </style>
</head>

<body>
    <div>
        <h2>Enter fire coordinates</h2>
        <form role="form" method="POST">
            <label for="LngLat">Coordinates:</label><br>
            <input type="text" name="LngLat" id="LngLat"><br>
            <label for="radius">Radius:</label><br>
            <input type="text" name="radius" id="radius"><br><br>

            <button type='submit'>Submit</button>
        </form>

        <button type="button" class="btn btn-default" id="map_btn">See Map</button>
        <button type="button" class="btn btn-default" id="inv_btn">Edit Inventory</button>
        <button type="button" class="btn btn-default" id="plan_btn">Plan Demo</button>

    </div>


</body>
<script>
    document.getElementById("map_btn").onclick = function () {
        location.href = "/map";
    };
    document.getElementById("inv_btn").onclick = function () {
        location.href = "/inventory";
    };
    document.getElementById("plan_btn").onclick = function () {
        location.href = "/plan";
    };
</script>

{% endblock %}